<app-navbarindex></app-navbarindex>
<div class="container">
 
    <div class="card">
        <h1>Certificado de Incapacidad Médica</h1>
        <p>Estimado paciente, se le ha otorgado una incapacidad médica de <b>7 días</b>.</p>
        <p>Durante este tiempo, es recomendable seguir las indicaciones médicas y descansar adecuadamente.</p>
        <p>Si los síntomas persisten, acuda nuevamente al médico.</p>
        
        <button class="button" on:click={generarPDF}>Descargar Incapacidad</button>
    </div>

   
    <div class="card">
        <h2>⚠️ Recuerda que si empeoras...</h2>
        <p>Debes acudir inmediatamente a consulta médica si presentas fiebre alta, dificultad para respirar o cualquier otro síntoma grave.</p>
        <p>Tu salud es importante, así que no la descuides!</p>
    </div>

   
    <div class="card">
        <h2>📌 Indicaciones Médicas</h2>
        <ul>
            <li>Reposo absoluto durante la primera fase</li>
            <li>Tomar medicamentos según prescripción</li>
            <li>Hidratación constante</li>
            <li>Evitar esfuerzo físico</li>
            <li>Acudir a revisión si los síntomas empeoran</li>
        </ul>
    </div>

  
    <div class="card">
        <h2>🔹 Recomendaciones Médicas Generales 🔹</h2>
        <p>Para garantizar una pronta recuperación, es importante seguir estas recomendaciones adicionales:</p>
        <ul>
            <p>Evitar el contacto con personas enfermas para prevenir complicaciones.</p>
            <p>Descansar lo suficiente y no interrumpir el tratamiento antes de tiempo.</p>
            <p>Mantener una alimentación balanceada con frutas y verduras para reforzar el sistema inmunológico.</p>
            <p>Evitar el consumo de alcohol y tabaco durante el periodo de recuperación.</p>
            <p>Si persisten los síntomas, acudir de inmediato a una consulta médica.</p>
        </ul>
    </div>
</div>
