<div class="bg-light min-vh-100 d-flex flex-column">

    <div class="text-center text-white py-2" style="background-color: cornflowerblue;">
        Innovando siempre para prestar el mejor servicio, su salud es nuestro compromiso.
    </div>

    
   
   
    <div class="container text-center my-auto py-5">
   
        
    <app-imagen-default></app-imagen-default>
       <a  class="btn btn-info" href="/">Volver al inicio</a>

    </div>


   
    <footer class="text-center text-white py-3 " style="background-color: cornflowerblue;">
        &copy; 2025 Hospital. Todos los derechos reservados.
    </footer>

    
</div>
